.DS_Store
/.idea
.idea
docker-magento2.2/plugin/Transbank
docker-magento2.3/plugin/Transbank
plugin-transbank-webpay-magento2*.zip

/vendor
/composer.lock

development-docker/.built
development-docker/plugin/*