<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="admin_webpay" id="admin_webpay">
            <module name="Transbank_Webpay"/>
        </route>
    </router>
</config>